body {
    background-color: #a0d2eb;
    margin: 0px;
}

p {
    font-family: robotoRegular;
}

h1 {
    font-family: robotoBold;
}

h2 {
    font-family: robotoBold;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}