@font-face {
    font-family: robotoBlack;
    src: url(/assets/font/Roboto-Black.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(/assets/font/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(/assets/font/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(/assets/font/Roboto-Regular.ttf);
}